.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    box-shadow: 4px 3px 5px 0px rgba(179,179,179,0.75);
    -webkit-box-shadow: 4px 3px 5px 0px rgba(179,179,179,0.75);
    -moz-box-shadow: 4px 3px 5px 0px rgba(179,179,179,0.75);
    border-radius: 10px;
    height: 110px;
    padding: 10px;

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-weight: bold;
            font-size: 14px;
            color: grey;
        }

        .counters{
            font-weight: 300;
            font-size: 28px;
        }

        .link{
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid lightgrey;
        }

        .percentage{
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive{
                color: green;   
            }

            &.negative{
                color: red;
            }
        }

        .icon{
            font-size: 30px;
            padding: 5px;
            align-self: flex-end;
        }
    }
}

